/*全局*/
* {
    margin: 0 auto;
}

body {
    height: 100%;
}

.main {
    width: 80%;
    height: 400px;
}

/*导航栏*/
.header .navbar {
    background-color: #293c55;
    font-weight: bold;
    min-height: 55px;
    wieght: 100%;
    height: 90px;
}

.header .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: bold;
    padding: 1.2em 40px 1.2em 40px;
    font-size: 18px;
    font-family: "幼圆";
}

.header .nav {
    float: right;
}

.header .navbar .dropdown-menu > li > a {
    color: #293c55;
    font-weight: bold;
    padding-right: 45px;
    padding: 0.8em 30px 0.8em 20px;
    font-size: 18px;
    font-family: "幼圆";
}

.header .logo {
    height: 55px;
    width: 10%;
    float: left;
    margin-top: 5px;
    margin-left: 3%;
}

.logo > img{
    width: 150px;
    height: 80px;
}

.header .navbar-header button {
    margin-top: 25px;
}

/*7.21*/
header {
    position: relative;
    min-width: 1100px;
}

.navbar-default {
    width: 100%;
    background-color: #293c55;
}

.logo {
    position: absolute;
    top: 8%;
    left: 10%;
}

img {
    width: 150px;
    height: 80px;
}

.navbar {
    margin-bottom: 0; /*去除框架影响*/
    border: 0;
}

.navbar-default .navbar-nav > li a {
    margin: 0;
    text-decoration: none;
    font-size: 25px;
    color: white;
    line-height: 60px;
}

.navbar-default .navbar-nav > li:hover {
    background-color: rgba(17, 149, 254, 1);
}

.navbar-default .navbar-nav > li a:hover {
    color: #fff;
}

.home_page {
    margin-left: 20px;
}

.collection {
    margin-left: 20px;
}

.nav > .poc {
    margin-left: 20px;
    margin-right: 100px;
}

.navbar-toggle {
    position: absolute;
    right: 2%;
    border: 1px solid;
    display: none;
}

.list {
    position: relative;
    margin-left: 20px;
}

#list_cur {
    position: absolute;
    top: 90px;
    width: 130px;
    padding: -20px;
    background-color: #fff;
    border: 1px solid #eee;
    display: none;
}

#list_cur a {
    font-size: 16px;
    display: block;
    line-height: 28px;
    color: black;
    text-align: center;
}

#list_cur a:hover {
    background-color: rgba(17, 149, 254, 1);
    color: #fff;
}
/*end 7.21*/

/*图标、标题*/
.main .title p {
    font-size: 18px;
    margin-top: -50px;
    position: relative;
    left: 15%;
}

.main .icon1 {
    width: 80px;
    height: 80px;
    background-image: url("../img/网络扫描.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    left: -39%;
    margin-top: 90px;
}

hr {
    width: 90%;

}

@media (max-width: 800px) {
    .main .title p {
        font-size: 15px;
        margin-top: -40px;
    }

    .main .icon1 {
        width: 60px;
        height: 60px;
        left: -43%;
    }
}