.poc-title {
    font-size: 18px;
}

hr {
    margin-top: 0px;
    width: 100%;
}

.poc-search {
    width: 350px;
}

.poc-info {
    display: inline-block;
    font-size: 14px;
    color:#666;
}

.poc-list {
    width: 90%;
}

.poc-list-tbl > thead {
    border-bottom: 1px solid #ddd;
}

.poc-list-tbl tr {
    height: 35px;
    font-size: 15px;
}

.poc-list-tbl td, .poc-list-tbl th{
    color: #666;
    padding: 0px 7px;
}

.poc-list-tbl > tbody tr:nth-child(odd) {
    background: #f3f4f6;
}

.poc-progress-bar {
    width: 350px;
    height: 20px;
    display: flex;
}

.poc-progress-bar > * {
    margin: 0px;
}

.bar-cnt > div {
    margin: 0px;
    height: 20px;
}

.out-bar {
    position: absolute;
    width: 250px;
    border: 1px solid;
}

.in-bar {
    width: 150px;
    background-color: deepskyblue;
}