.poc-title {
    font-size: 18px;
}

hr {
    margin-top: 0px;
    width: 100%;
}

.poc-search, .poc-url {
    width: 350px;
}

.poc-info {
    display: inline-block;
    font-size: 14px;
    color: #666;
}

.poc-list {
    width: 90%;
}

.poc-list-tbl {
    width: 100%;
}

.poc-list-tbl > thead {
    border-bottom: 1px solid #ddd;
}

.poc-list-tbl tr {
    height: 35px;
    font-size: 15px;
}

.poc-list-tbl td {
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
}

.poc-list-tbl td, .poc-list-tbl th {
    color: #666;
    padding: 0px 7px;
}

.poc-list-tbl > tbody tr:nth-child(odd) {
    background: #f3f4f6;
}

.paginator {
    float: right;
}

.paginator > span {
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 18px;
}

.paginator > span:hover:not(.nth-page) {
    background: deepskyblue;
    cursor: hand;
}

.paginator .nth-page:hover {
    border: 1px solid #666;
}

.paginator a:hover {
    text-decoration: none;
}

.next-page {
    font-size: 14px;
}

.bg-blue {
    background: deepskyblue;
}

.poc-progress-bar {
    width: 365px;
    height: 20px;
    display: flex;
    position: relative;
    top: -30px;
}

.poc-progress-bar > * {
    margin: 0px;
}

.bar-cnt {
    width: 250px;
}

.bar-cnt > div {
    margin: 0px;
    height: 20px;
}

.percent {
    margin-left: 10px;
}

.out-bar {
    position: absolute;
    width: 250px;
    border: 1px solid;
}

.in-bar {
    width: 0px;
    background-color: deepskyblue;
}

.show {
    display: block;
}

.hidden {
    display: none;
}
