<head><meta charset="UTF-8"> <link rel="stylesheet" href="../../static/css/whois.css"> <link rel="stylesheet" href="../../static/css/whois_base.css"></head><ul class="WhoisLeft fl" id="sh_info">
 <li class="bor-b1s LI7">
  <div class="fl WhLeList-left h64">
   <span class="pt10 dinline">
    域名
   </span>
  </div>
  <div class="fr WhLeList-right">
   <p class="h30 bor-b1s02">
    <a class="col-gray03 fz18 pr5" href="http://discuz.net" rel="nofollow" target="_blank">
     discuz.net
    </a>
    <a href="reverse?host=discuz.net&amp;ddlSearchMode=0" target="_blank">
     [whois 反查]
    </a>
   </p>
   <p class="OtherSuf">
    <span>
     其他常用域名后缀查询：
    </span>
    <a href="/?DomainName=discuz.cn" target="_blank">
     cn
    </a>
    <a href="/?DomainName=discuz.com" target="_blank">
     com
    </a>
    <a href="/?DomainName=discuz.cc" target="_blank">
     cc
    </a>
    <a href="/?DomainName=discuz.net" target="_blank">
     net
    </a>
    <a href="/?DomainName=discuz.org" target="_blank">
     org
    </a>
   </p>
  </div>
 </li>
 <li class="clearfix bor-b1s ">
  <div class="fl WhLeList-left">
   注册商
  </div>
  <div class="fr WhLeList-right">
   <div class="block ball">
    <span>
     HiChina Zhicheng Technology Ltd.
    </span>
   </div>
  </div>
 </li>
 <li class="clearfix bor-b1s bg-list">
  <div class="fl WhLeList-left">
   联系电话
  </div>
  <div class="fr WhLeList-right block ball lh24">
   <span>
    95187
   </span>
   <a href="/reverse?host=95187&amp;ddlSearchMode=3" target="_blank">
    [whois反查]
   </a>
  </div>
 </li>
 <li class="clearfix bor-b1s ">
  <div class="fl WhLeList-left">
   更新时间
  </div>
  <div class="fr WhLeList-right">
   <span>
    2017年06月01日
   </span>
  </div>
 </li>
 <li class="clearfix bor-b1s bg-list">
  <div class="fl WhLeList-left">
   创建时间
  </div>
  <div class="fr WhLeList-right">
   <span>
    2002年10月07日
   </span>
  </div>
 </li>
 <li class="clearfix bor-b1s ">
  <div class="fl WhLeList-left">
   过期时间
  </div>
  <div class="fr WhLeList-right">
   <span>
    2018年10月07日
   </span>
  </div>
 </li>
 <li class="clearfix bor-b1s bg-list">
  <div class="fl WhLeList-left">
   域名服务器
  </div>
  <div class="fr WhLeList-right">
   <span>
    grs-whois.hichina.com
   </span>
  </div>
 </li>
 <li class="clearfix bor-b1s ">
  <div class="fl WhLeList-left">
   DNS
  </div>
  <div class="fr WhLeList-right">
   NS1.QQ.COM
   <br/>
   NS2.QQ.COM
   <br/>
   NS3.QQ.COM
   <br/>
   NS4.QQ.COM
   <br/>
  </div>
 </li>
 <li class="clearfix bor-b1s bg-list">
  <div class="fl WhLeList-left">
   状态
  </div>
  <div class="fr WhLeList-right clearfix">
   <p class="lh30 pr tip-sh">
    <span>
     客户端设置禁止删除(
     <a href="http://www.icann.org/epp#clientDeleteProhibited" rel="nofollow" target="_blank">
      clientDeleteProhibited
     </a>
     )
    </span>
    <i class="QhintCent autohide">
     保护域名的一种状态，域名不能被删除
    </i>
   </p>
   <p class="lh30 pr tip-sh">
    <span>
     客户端设置禁止转移(
     <a href="http://www.icann.org/epp#clientTransferProhibited" rel="nofollow" target="_blank">
      clientTransferProhibited
     </a>
     )
    </span>
    <i class="QhintCent autohide">
     保护域名的一种状态，域名不能转移注册商
    </i>
   </p>
   <p class="lh30 pr tip-sh">
    <span>
     客户端设置禁止更新(
     <a href="http://www.icann.org/epp#clientUpdateProhibited" rel="nofollow" target="_blank">
      clientUpdateProhibited
     </a>
     )
    </span>
    <i class="QhintCent autohide">
     域名信息，包括注册人/管理联系人/技术联系人/付费联系人/DNS等不能被修改，但可设置或修改解析记录
    </i>
   </p>
  </div>
 </li>
 <li class="tc h30 lh30 fz14 col-blue02 bor-b1s flag">
  -------站长之家
  <a href="http://whois.chinaz.com">
   Whois查询
  </a>
  --------
 </li>
 <li class="clearfix bg-list pt15">
  <p class="MoreInfo" id="detail_info">
  </p>
 </li>
</ul>
