<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>payload文件修改</title>
    <link rel="stylesheet" href="../../../static/css/payloadEdit.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/common.css">
</head>
<body>
<!--导航-->
<header>
    <nav class="navbar navbar-default">
        <div class="logo">
            <img src="../../../static/img/seekdog.png">
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <!-- 导航条菜单 -->
            <ul class="nav navbar-nav navbar-right">
                <li class="home_page"><a href="../../">首页</a></li>
                <li class="collection"><a href="../../info-collection/">信息收集</a></li>
                <li class="list" onmouseover="change('list_cur','block')" onmouseout="change('list_cur','none')">
                    <a href="#" class="special" style="background: rgba(17,149,254,1);">模糊测试</a>
                    <div id="list_cur">
                        <a href="../BaseFuzz/">基础模糊测试</a>
                        <a href="../CustomFuzz/">自定义模糊测试</a>
                        <a href="#">payload文件修改</a>
                    </div>
                </li>
                <li class="poc"><a href="../../poc/">POC检测</a></li>
            </ul>
        </div>
    </nav>
</header>

<!--主要内容-->
<div class="main">
    <div class="title">
        <div class="icon1"></div>
        <p>payload文件修改</p>
    </div>
    <hr>
    <div class="formList">

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="fileName" class="col-sm-2 control-label">文件名</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="fileName" placeholder="">
                </div>
                <div class="col-sm-3 ">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">
                        payload文件列表
                    </button>
                </div>


            </div>
            <div class="form-group">
                <label for="fileType" class="col-sm-2 control-label">类型</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="fileType" placeholder="">
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 40px">
                <label for="fileContainer" class="col-sm-2 control-label">文件内容</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="fileContainer" rows="12" placeholder=""
                              style="margin-bottom: 20px;"></textarea>
                </div>
                <div class="form-group collapse" id="demo">
                    <label for="payloadFile" class="col-sm-2 control-label">payload文件</label>
                    <div class="col-sm-3">
                        <select multiple class="form-control" style="height: 225px;">

                            {% for item in lists %}
                                <option>
                                    <span>{{ item.NAME }}</span>|
                                    <span>{{ item.PAYLOADTYPE }}</span>
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: -20px">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-default" onclick="getResult()">提交</button>
                    <button type="button" class="btn btn-default" onclick="remove()">还原</button>
                    <button type="button" class="btn btn-default" onclick="clearAll()">清空</button>
                </div>
            </div>


        </form>


    </div>
</div>
<!-- jQuery (Bootstrap的JavaScript插件需要引入jQuery) -->
<script src="../../../static/js/jquery-1.9.1.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="../../../static/js/bootstrap.min.js"></script>
<script src="../../../static/js/script.js"></script>
</body>
</html>